*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/back.jpg) repeat fixed;
    overflow-x: hidden;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
a{
    text-decoration: none; /* Remove underline */
}
h2{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Shadows Into Light', cursive;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /*opacity: 30%;*/
}
header{
    font-family: 'Pacifico', cursive;
    /*background: rgba(30, 140, 244, 0.93);*/
    /*background-color: rgba(254, 92, 98, 0.9);*/
    /*margin-top: 10px;*/
    padding: 15px 0;
    /*border-radius: 0 50px 50px 0;*/
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/books.jpg");
    /*height: 50%;*/
    backgrounds-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;

    transition-property: background;
    /*transition-duration: 3s;*/
    transition: 3s;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    right: -110px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 130px; /* Set a specific width */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
    font-family: 'Shadows Into Light', cursive;
}
#mySidenav a:nth-child(2),#mySidenav a:nth-child(3),#mySidenav a:nth-child(4) {
    width: 317px;
    right: -297px;
}
#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#biography {
    top: 140px;
    background-color: #4CAF50;
    text-align: right;
}
#inform {
    top: 210px;
    background-color: #2196F3; /* Blue */
    text-align: right;
}
#timetb {
    top: 280px;
    background-color: #f44336; /* Red */
    text-align: right;
}
#public {
    top: 350px;
    background-color: #555; /* Light Black */
    text-align: right;
}
#contain {
    font-family: 'Noto Serif JP', sans-serif;
    text-align: justify;
    padding-bottom: 35px;
}
#contain img#bill{
    margin-right:30px;
    outline-style:groove;
}
#additional{
    font-family: 'Shadows Into Light', cursive;
    padding-bottom: 50px;
}
#additional .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#additional .flex-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#additional .flex-container a{
    width: 300px;
    margin: 30px;
    padding: 20px 5px;
    text-align: center;
    color: #fff;
    /*background-color: rgba(30, 140, 244, 0.93);*/
    background-color: rgba(254, 92, 98, 0.9);
    border-radius: 5px;
}
#additional .flex-container img{
    height: 69px;
    margin-top: 20px;
}
#additional .flex-container a:hover{
    background-color: rgba(244, 13, 17, 0.93);
}
footer {
    background-color: #888888;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
    padding: 60px 0;
}
footer .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
footer .flex-container > div{
    width: 200px;
    justify-content: center;
}
footer hr{
    color: antiquewhite;
    margin-bottom: 8px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition-duration: 1s;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

@media (min-width: 768px) and (max-width: 1300px){
    .container{
        max-width: 768px;
    }
}
@media (min-width: 900px){
    #menuToggle{
        display: none;
    }
}
@media (max-width: 900px){
    #mySidenav{
        display: none;
    }
    #menuToggle a
    {
        text-decoration: none;
        color: #232323;
        /*font-family: "Avenir Next", "Avenir", sans-serif;*/
        font-family: 'Shadows Into Light', cursive;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        color: tomato;
    }
    #menuToggle
    {
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #fff;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
}
@media (max-width: 850px) {
    .hero-text h1{
        font-size: 40px !important;
    }
    .hero-text p{
        font-size: 16px;
    }
}
@media (max-width: 700px) {
    footer .flex-container > div{
        width: 150px;
        font-size: 13px;
    }
    .hero-text h1{
        font-size: 35px !important;
    }
    .hero-text p{
        font-size: 18px!important;
    }
}
@media (max-width: 600px) {
    footer .flex-container{
        flex-direction: column-reverse;
    }
    footer .flex-container > div{
        font-size: 14px;
        padding-bottom: 40px;
        width: 180px;
    }
}
@media (max-width: 300px){
    img#bill{
        display: block;
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%,0);
        margin-bottom: 10px;
    }
}
@media (max-width: 400px){
    #menuToggle li{
        font-size: 18px;
    }
}
@media (max-width: 330px){
    h2{
        font-size: 18px!important;
    }
    .hero-text h1{
        font-size: 30px !important;
    }
    .hero-text p{
        font-size: 16px!important;
    }
    #additional .flex-container a{
        width: 250px;
    }
    #menuToggle li{
        font-size: 14px;
    }
}

/*Slider in jQuary*/
#block-for-slider {
    /*width: 1200px;*/
    margin: 0 auto;
}
#viewport {
    width: 100%;
    /*display: table;*/
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/3);
    list-style: none;
    /*display: inline;*/
    float: left;
}

/*Кнопки слайдера*/
#prev-btn, #next-btn {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    /*background-color: #000;*/
    /*border-radius: 50%;*/
    top: calc(50% - 20px);
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}
#prev-btn {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 20px;
}
#next-btn {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 20px;
}